.CardContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 493px;
  min-width: 333px;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.TypeList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.CardHeading {
  color: black;
}

.SpriteContainer {
  display: flex;
  flex-direction: row;
}

p {
  font-size: 26px;
}

@import "type.css";
